{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "import-helpers"],
  "env": { "browser": true, "es6": true },
  "globals": { "Atomics": "readonly", "SharedArrayBuffer": "readonly" },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/prop-types": "off",
    "max-len": ["error", 120],
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "import-helpers/order-imports": [
      "error",
      {
        "newlinesBetween": "always",
        "groups": ["module", ["parent", "sibling", "index"]],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true
        }
      }
    ],
    "import/prefer-default-export": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-interface": [
      "error",
      { "allowSingleExtends": true }
    ],
    "no-alert": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "react/display-name": "off",
    "no-useless-return": "off",
    "no-new": "off",
    "consistent-return": "off"
  }
}
